section.about
  .g-wrapper
    .section__title.section__title_white О компании
    .about__content
      .about__text Мы придаем большое значение поставке продуктов, наилучшим образом удовлетворяющих требованиям заказчиков. Этому способствует торговая сеть, интегрированная в конкретную производственную среду. Соответствующие отделения этой сети работают по проектам поблизости от заказчиков. При этом специалисты компании SOCOMEC всегда готовы прийти вам на помощь, когда вы в этом нуждаетесь
      .about__inner
        .about__subtitle ENTEL - это:
        .about__elements
          .about__element
            img.about__img(src='./images/honor.svg')
            .products__title.about__ficha Всегда качественная продукция
            .about__descript Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют, потому что
          .about__element
            img.about__img(src='./images/basket.svg')
            .products__title.about__ficha Большой ассортимент товара
            .about__descript Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться
          .about__element
            img.about__img(src='./images/doc.svg')
            .products__title.about__ficha Гарантия на всю продукцию
            .about__descript Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют, потому что
        a(href="#").button Узнать подробнее
