.categories__item
  .categories__images
    img(src='./images/cat-3.png').categories__img
    img(src='./images/cat-2.png').categories__img
    img(src='./images/cat-1.png').categories__img
  .categories__models
    .categories__model Multi-circгult metering & measurement
    .categories__elements
      .categories__element UPS NETYS PL (600-800 VA)
      .categories__element UPS NETYS PR MT (1000-2000 VA)
      .categories__element UPS NETYS PR RT (1000-1500 VA Rack 1U)
      .categories__element UPS NETYS PL (600-800 VA)
      .categories__element UPS NETYS PR MT (1000-2000 VA)
      .categories__element UPS NETYS PR RT (1000-1500 VA Rack 1U)
      .categories__element UPS ITYS (1000-10,000 VA)
      .categories__element UPS MODULYS RM (1500 to 9000 VA)
      .categories__element UPS NETYS PR RT (1000-1500 VA Rack 1U)
      .categories__element UPS ITYS (1000-10,000 VA)
  .categories__footer
    a(href="#").categories__link Сравнить модели
    a(href="#").button.categories__button Подробнее
