
.certif-mini__container.swiper-container
  .certif-mini__wrapper.swiper-wrapper
    .certif-mini__slide.swiper-slide
      a(href="./images/sertif-1.png").certif-mini__gallery
        img(src="./images/sertif-1.png").certif-mini__img
    .certif-mini__slide.swiper-slide
      a(href="./images/sertif-2.png").certif-mini__gallery
        img(src="./images/sertif-2.png").certif-mini__img
    .certif-mini__slide.swiper-slide
      a(href="./images/sertif-1.png").certif-mini__gallery
        img(src="./images/sertif-1.png").certif-mini__img
    .certif-mini__slide.swiper-slide
      a(href="./images/sertif-2.png").certif-mini__gallery
        img(src="./images/sertif-2.png").certif-mini__img
.g-wrapper__slider_certif-mini
  .certif-mini__prev.swiper-button-prev
    include ../../images/arrow-left.svg
  .certif-mini__next.swiper-button-next
    include ../../images/arrow-right.svg
