.about-company__slider_span
  .about-company__slider.about-company__slider_cert.swiper-container
    .swiper-wrapper
      .swiper-slide
        a(href="./images/sertif-1.png").certif-mini__gallery
          img(src="./images/sertif-1.png").certif-mini__img
      .swiper-slide
        a(href="./images/sertif-2.png").certif-mini__gallery
          img(src="./images/sertif-2.png").certif-mini__img
      .swiper-slide
        a(href="./images/sertif-1.png").certif-mini__gallery
          img(src="./images/sertif-1.png").certif-mini__img
      .swiper-slide
        a(href="./images/sertif-2.png").certif-mini__gallery
          img(src="./images/sertif-2.png").certif-mini__img
  .about-company__slider_buttons
    .about-company__slider_prev.swiper-button-prev
      svg(xmlns='http://www.w3.org/2000/svg')
        g(transform='translate(1 1)', fill='none', fill-rule='evenodd')
          circle(stroke='#1579C5', stroke-width='2', cx='18', cy='18', r='18')
          path(d='M19.14 11.323a1.08 1.08 0 0 1 1.541 0c.425.43.425 1.13 0 1.56L15.63 18l5.052 5.117c.425.43.425 1.13 0 1.56a1.08 1.08 0 0 1-1.54 0L13.32 18.78a1.113 1.113 0 0 1 0-1.56l5.822-5.897z', fill='#1579C5')

    .about-company__slider_next.swiper-button-next
      svg(xmlns='http://www.w3.org/2000/svg')
        g(transform='translate(1 1)', fill='none', fill-rule='evenodd')
          circle(stroke='#1579C5', stroke-width='2', cx='18', cy='18', r='18')
          path(d='M16.86 24.677a1.08 1.08 0 0 1-1.541 0 1.113 1.113 0 0 1 0-1.56L20.37 18l-5.052-5.117a1.113 1.113 0 0 1 0-1.56 1.08 1.08 0 0 1 1.54 0l5.822 5.897c.425.431.425 1.13 0 1.56l-5.822 5.897z', fill='#1579C5')

