section.certificates-slider
  .section__title Наши сертификаты
  .g-wrapper
    .certificates-slider__container.swiper-container
      .certificates-slider__wrapper.swiper-wrapper
        .certificates-slider__slide.swiper-slide
          img(src="./images/sertif-1.png").certificates-slider__img
        .certificates-slider__slide.swiper-slide
          img(src="./images/sertif-2.png").certificates-slider__img
        .certificates-slider__slide.swiper-slide
          img(src="./images/sertif-1.png").certificates-slider__img
        .certificates-slider__slide.swiper-slide
          img(src="./images/sertif-2.png").certificates-slider__img
        .certificates-slider__slide.swiper-slide
          img(src="./images/sertif-1.png").certificates-slider__img
  .g-wrapper__slider.g-wrapper__slider_certificates
    .certificates-slider__prev.swiper-button-prev
      include ../../images/arrow-left.svg
    .certificates-slider__next.swiper-button-next
      include ../../images/arrow-right.svg
