section.clients-slider
  .section__title Наши клиенты
  .g-wrapper
    .clients-slider__container.swiper-container
      .clients-slider__wrapper.swiper-wrapper
        .clients-slider__slide.swiper-slide
          img(src="./images/clients-1.png").clients-slider__img
        .clients-slider__slide.swiper-slide
          img(src="./images/clients-2.png").clients-slider__img
        .clients-slider__slide.swiper-slide
          img(src="./images/clients-3.png").clients-slider__img
        .clients-slider__slide.swiper-slide
          img(src="./images/clients-1.png").clients-slider__img
        .clients-slider__slide.swiper-slide
          img(src="./images/clients-2.png").clients-slider__img
  .g-wrapper__slider
    .clients-slider__prev.swiper-button-prev
      include ../../images/arrow-left.svg
    .clients-slider__next.swiper-button-next
      include ../../images/arrow-right.svg


