section.clients-slider
  .section__title Наши клиенты
  .g-wrapper
    .clients-slider__container.swiper-container
      .clients-slider__wrapper.swiper-wrapper
        .clients-slider__slide.swiper-slide
          img(src="./images/clients-1.png").clients-slider__img
        .clients-slider__slide.swiper-slide
          img(src="./images/clients-2.png").clients-slider__img
        .clients-slider__slide.swiper-slide
          img(src="./images/clients-3.png").clients-slider__img
        .clients-slider__slide.swiper-slide
          img(src="./images/clients-4.png").clients-slider__img
        .clients-slider__slide.swiper-slide
          img(src="./images/clients-1.png").clients-slider__img
        .clients-slider__slide.swiper-slide
          img(src="./images/clients-2.png").clients-slider__img
      .swiper-button-prev
        include ../../images/arrow-left.svg
      .swiper-button-next
        include ../../images/arrow-right.svg


