section.contacts-land#contacts
  .section__title Контакты
  .g-wrapper
    .contacts-land__content
      .contacts-land__left
        .contacts-land__item
          .contacts-land__title Информация
          a(href="tel:#").contacts-land__link.contacts-land__link_phone +7 (499) 999-99-99
          a(href="tel:#").contacts-land__link.contacts-land__link_mail info@entel.ru
          .contacts-land__link.contacts-land__link_target Россия, Москва, пос. Мосрентген, завод "Мосрентген" стр. 1А
        .contacts-land__item
          .contacts-land__title Мы на карте
          img(src="./images/map.png").contacts-land__map
      .contacts-land__right
        form.contacts-land__form
          .contacts-land__form_title Написать нам
          .contacts-land__form_string
            .contacts-land__form_item
              input(type="text" name="name" required).contacts-land__form_input
              label.contacts-land__form_label Ваше имя
            .contacts-land__form_item
              input(type="tel" name="tel" required).contacts-land__form_input
              label.contacts-land__form_label Ваш телефон
          .contacts-land__form_item
            input(type="text" name="text" required).contacts-land__form_input
            label.contacts-land__form_label Ваше сообщение
          .contacts-land__form_offer
            label
              input(type="checkbox").contacts-land__form_checkbox
              span
            .contacts-land__form_offer_inner Я принимаю <a class="policy__callback">соглашение сайта</a> об обработке персональных данных

          .contacts-land__form_footer
            button(type="submit").button Отправить сообщение






