footer.footer
  .g-wrapper
    .footer__content
      .footer__top
        .footer__top_column
          a(href="/")
            img(src="./images/logo.svg").footer__logo
          .footer__bottom_right.footer__socials_mobile
            a(href="#").footer__socials
              include ../../images/vk.svg
            a(href="#").footer__socials
              include ../../images/inst.svg
            a(href="#").footer__socials
              include ../../images/facebook.svg
            a(href="#").footer__socials
              include ../../images/twitter.svg
          .footer__text Официальный дистрибьютор компании Socomec в Российской Федерации
        .footer__top_column
          a(href="#").footer__title Продукция
          a(href="#").footer__link Измерение, управление энергией и анализ
          a(href="#").footer__link Выключатели нагрузки
          a(href="#").footer__link Реверсивные рубильники
          a(href="#").footer__link Предохранители
          a(href="#").footer__link Электронная защита
          a(href="#").footer__link Шкафы и аксессуары
        .footer__top_column.footer__top_column_mob
          a(href="#").footer__title Пресс-центр
          a(href="#").footer__link Новости
          a(href="#").footer__link Статьи
          a(href="#").footer__link Мероприятия
          a(href="#").footer__link Сертификаты
          a(href="#").footer__link Отзывы клиентов
        .footer__top_column
          a(href="#").footer__title О компании
          a(href="#").footer__link Основная информация
          a(href="#").footer__link Услуги
          a(href="#").footer__link Наши клиенты
          a(href="#").footer__link Дилеры
          a(href="#").footer__link Вакансии
          a(href="#").footer__link Контакты
          a(href="#").footer__title.footer__title_mob Пресс-центр
      .footer__bottom
        .footer__bottom_string
          .footer__bottom_left
            a(href="#").footer__bottom_link Политика конфиденциальности
            a(href="#").footer__bottom_link Правила и условия
            a(href="#").footer__bottom_link Стать партнером
          .footer__bottom_right
            a(href="#").footer__socials
              include ../../images/vk.svg
            a(href="#").footer__socials
              include ../../images/inst.svg
            a(href="#").footer__socials
              include ../../images/facebook.svg
            a(href="#").footer__socials
              include ../../images/twitter.svg
        .footer__bottom_descript
          .footer__text.footer__text_bottom Поставка, сервис, проектирование ИБП, ДГУ, Динамических ИБП. Тел. / факс : +7(495) 981-13-66 (многоканальный) e-mail:       sales@entel.ru
          .footer__text.footer__text_bottom Поставка оборудования коммутации, контроля и защиты до 5000 Ампер. Тел. / факс : +7(499) 922-10-12 (многоканальный) e-mail: socomec@entel.ru
          .footer__text.footer__text_bottom © 2017 ENTEL. Все права защищены
