header.header
  .g-wrapper
    .header__container
      a(href="/").header__link
        img(src="./images/logo.svg").header__logo
      nav.header__nav
        li.header__li.header__li_active
          a(href="#") Главная
        li.header__li
          a(href="/about-company.html") О компании
        li.header__li
          a(href="/categories.html") Продукция
          .header__triangle
            svg(width='15', height='10', xmlns='http://www.w3.org/2000/svg')
              path(d='M7.5 0L15 10H0z', fill='#1174BF', fill-rule='evenodd')
          nav.f-menu
            .f-menu__col
              a.f-menu__link.f-menu__link_bold(href="#") Измерение, управление <br /> энергией и анализ
              a.f-menu__link(href="#") Multi-circгult metering & <br /> measurement
              a.f-menu__link(href="#") Wireless metering & measurement
              a.f-menu__link(href="#") Счетчики активной энергии и <br /> концентраторы импульсов
              a.f-menu__link(href="#") Многофункциональные счетчики
              a.f-menu__link(href="#") Коммуникационные <br /> принадлежности
              a.f-menu__link(href="#") Программные решения
              a.f-menu__link(href="#") Счетчики и преобразователи
              a.f-menu__link(href="#") Измерительные устройства
              a.f-menu__link.f-menu__link_bold(href="#") Выключатели нагрузки
              a.f-menu__link(href="#") Выключатели нагрузки
              a.f-menu__link(href="#") Выключатели нагрузки для <br /> применения в гелиоэнергетике
              a.f-menu__link(href="#") Выключатели нагрузки для <br /> специального применения
            .f-menu__col
              a.f-menu__link.f-menu__link_bold(href="#") Реверсивные рубильники
              a.f-menu__link(href="#") Реверсивные рубильники с ручным <br /> управлением
              a.f-menu__link(href="#") Моторизированные реверсивные <br /> рубильники
              a.f-menu__link(href="#") Автоматические реверсивные <br /> рубильники
              a.f-menu__link(href="#") Универсальные контроллер ATS
              a.f-menu__link.f-menu__link_bold(href="#") Предохранители
              a.f-menu__link(href="#") Рубильники с предохранителями
              a.f-menu__link(href="#") Держатели предохранителей и <br /> рубильники с предохранителями
              a.f-menu__link(href="#") Предохранители
              a.f-menu__link(href="#") Применение в гелиоэнергетике
              a.f-menu__link.f-menu__link_bold(href="#") Электронная защита
              a.f-menu__link(href="#") Дифференциальная защита
              a.f-menu__link(href="#") Защита от скачков напряжения
            .f-menu__col
              a.f-menu__link.f-menu__link_bold(href="#") Шкафы и аксессуары
              a.f-menu__link(href="#") Шкафы
              a.f-menu__link(href="#") Шины
              a.f-menu__link(href="#") Распределение
              a.f-menu__link(href="#") Монтажные аксессуары
        li.header__li
          a(href="#") Стать партнером
        li.header__li
          a(href="/news.html") Пресс-центр
        li.header__li
          a(href="/contacts.html") Контакты
        li.header__li
          a(href="#")
            img(src="./images/search.svg")
        .header__contact
          a(href="tel:+77777").header__tel +7 (499) <span>999-99-99</span>
          .header__callback Заказать звонок
        .header__close
      .mobile__nav
        .mobile__menu
          img(src="./images/mob-menu.svg")
        .mobile__search
          a(href="#")
            img(src="./images/search-Black.svg")


      .header__contact
        a(href="tel:+77777").header__tel +7 (499) <span>999-99-99</span>
        .header__callback Заказать звонок
