section.header-slider
  .header-slider__container.swiper-container
    .header-slider__wrapper.swiper-wrapper
      .header-slider__slide.swiper-slide
        img(src="./images/header-slide.png").header-slider__img
        .header-slider__content
          .header-slider__title.section__title.section__title_white ENTEL - энергия Ваших решений
          .header-slider__description
            .header-slider__text Источники бесперебойного питания от 0,5 до 3000 кВА
            .header-slider__text.header-slider__text_bold Всегда большой выбор на складе!
          a(href="#").button.header-slider__button Перейти в каталог
      .header-slider__slide.swiper-slide
        img(src="./images/header-slide.png").header-slider__img
        .header-slider__content
          .header-slider__title.section__title.section__title_white ENTEL - энергия Ваших решений
          .header-slider__description
            .header-slider__text Источники бесперебойного питания от 0,5 до 3000 кВА
            .header-slider__text.header-slider__text_bold Всегда большой выбор на складе!
          a(href="#").button.header-slider__button Перейти в каталог
      .header-slider__slide.swiper-slide
        img(src="./images/header-slide.png").header-slider__img
        .header-slider__content
          .header-slider__title.section__title.section__title_white ENTEL - энергия Ваших решений
          .header-slider__description
            .header-slider__text Источники бесперебойного питания от 0,5 до 3000 кВА
            .header-slider__text.header-slider__text_bold Всегда большой выбор на складе!
          a(href="#").button.header-slider__button Перейти в каталог
      .header-slider__slide.swiper-slide
        img(src="./images/header-slide.png").header-slider__img
        .header-slider__content
          .header-slider__title.section__title.section__title_white ENTEL - энергия Ваших решений
          .header-slider__description
            .header-slider__text Источники бесперебойного питания от 0,5 до 3000 кВА
            .header-slider__text.header-slider__text_bold Всегда большой выбор на складе!
          a(href="#").button.header-slider__button Перейти в каталог
    .header-slider__prev.swiper-button-prev
      include ../../images/arrow-left-white.svg
    .header-slider__next.swiper-button-next
      include ../../images/arrow-right-white.svg
    .header-slider__pagination.swiper-pagination

