header.header
  .g-wrapper
    .header__container
      a(href="/").header__link
        img(src="./images/logo.svg").header__logo
      nav.header__nav
        li.header__li.header__li_active
          a(href="#") Главная
        li.header__li
          a(href="/about-company.html") О компании
        li.header__li
          a(href="/categories.html") Продукция
          .header__triangle
            svg(width='15', height='10', xmlns='http://www.w3.org/2000/svg')
              path(d='M7.5 0L15 10H0z', fill='#1174BF', fill-rule='evenodd')
          nav.f-menu
            .f-menu__col
              a.f-menu__link.f-menu__link_bold(href="/energy-management") Измерение, управление <br /> энергией и анализ
              a.f-menu__link(href="/multi-circuit-metering-measurement") Multi-circгult metering & <br /> measurement
              a.f-menu__link(href="/wireless-metering-measurement") Wireless metering & measurement
              a.f-menu__link(href="/counters-active-energy") Счетчики активной энергии и <br /> концентраторы импульсов
              a.f-menu__link(href="/multifunction-counters") Многофункциональные счетчики
              a.f-menu__link(href="/communication-accessories") Коммуникационные <br /> принадлежности
              a.f-menu__link(href="/software-solutions") Программные решения
              a.f-menu__link(href="/counters-and-converters") Счетчики и преобразователи
              a.f-menu__link(href="/measuring-devices") Измерительные устройства
              a.f-menu__link.f-menu__link_bold(href="/load-switches-group") Выключатели нагрузки для энергораспределения
              a.f-menu__link(href="/load-switches") Выключатели нагрузки
              a.f-menu__link(href="/load-switches-for-use-in-solar-energy") Выключатели нагрузки для <br /> применения в гелиоэнергетике
              a.f-menu__link(href="/load-switches-for-special") Выключатели нагрузки для <br /> специального применения
            .f-menu__col
              a.f-menu__link.f-menu__link_bold(href="/reversible-circuit-breakers") Реверсивные рубильники
              a.f-menu__link(href="/reversible-circuit-breakers-with-manual-control") Реверсивные рубильники с ручным <br /> управлением
              a.f-menu__link(href="/motorized-reversing-switches") Моторизированные реверсивные <br /> рубильники
              a.f-menu__link(href="/automatic-reversible-choppers") Автоматические реверсивные <br /> рубильники
              a.f-menu__link(href="/universal-ats-controller") Универсальные контроллер ATS
              a.f-menu__link.f-menu__link_bold(href="/circuit-breakers") Предохранители
              a.f-menu__link(href="/fuse-switches-with-fuses") Рубильники с предохранителями
              a.f-menu__link(href="/fuse-and-clip-on-fuses") Держатели предохранителей и <br /> рубильники с предохранителями
              a.f-menu__link(href="/safety-latch") Предохранители
              a.f-menu__link(href="/application-in-solar-energy") Применение в гелиоэнергетике
              a.f-menu__link.f-menu__link_bold(href="/electric-def") Электронная защита
              a.f-menu__link(href="/differential-protection") Дифференциальная защита
              a.f-menu__link(href="/protection-from-jumps-voltage") Защита от скачков напряжения
            .f-menu__col
              a.f-menu__link.f-menu__link_bold(href="/cabinets-and-accessories") Шкафы и аксессуары
              a.f-menu__link(href="/cabinets") Шкафы
              a.f-menu__link(href="/bus") Шины
              a.f-menu__link(href="/allocation") Распределение
              a.f-menu__link(href="/mounting-accessories") Монтажные аксессуары
        li.header__li
          a(href="/news.html") Пресс-центр
        li.header__li
          a(href="/contacts.html") Контакты
        .search
          input.search__input
          img.search__loop(src="./images/search.svg")
          svg.search__close(xmlns='http://www.w3.org/2000/svg', aria-hidden='true', data-icon='times-circle', data-prefix='fas', viewbox='0 0 512 512')
            path(fill='currentColor', d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z')
          .search__results
        .header__contact
          a(href="tel:+77777").header__tel +7 (499) <span>999-99-99</span>
          .header__callback Заказать звонок
        .header__close
      .mobile__nav
        .mobile__menu
          img(src="./images/mob-menu.svg")
        .mobile__search
          a(href="#")
            img(src="./images/search-Black.svg")


      .header__contact
        a(href="tel:+77777").header__tel +7 (499) <span>999-99-99</span>
        .header__callback Заказать звонок
