header.header
  .g-wrapper
    .header__container
      a(href="/").header__link
        img(src="./images/logo.svg").header__logo
      nav.header__nav
        li.header__li.header__li_active
          a(href="#") Главная
        li.header__li
          a(href="/about-company.html") О компании
        li.header__li
          a(href="/categories.html") Продукция
        li.header__li
          a(href="#") Стать партнером
        li.header__li
          a(href="/news.html") Пресс-центр
        li.header__li
          a(href="/contacts.html") Контакты
      .header__contact
        a(href="tel:+77777").header__tel +7 (499) <span>999-99-99</span>
        .header__callback Заказать звонок
