section.news-land
  .g-wrapper
    .section__title.section__title_white Новости и мероприятия
    .news-land__content
      .news-land__item
        img(src="./images/news-1.png").news-land__img
        .news-land__title В Новосибирске прошел семинар ENTEL
        .news-land__date 24/10/2017
        .news-land__text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют, потому что
        a(href="#").products__link.news-land__link Подробнее
      .news-land__item
        img(src="./images/news-1.png").news-land__img
        .news-land__title Электрические Сети России 2017
        .news-land__date 24/10/2017
        .news-land__text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют, потому что
        a(href="#").products__link.news-land__link Подробнее
      .news-land__item
        img(src="./images/news-1.png").news-land__img
        .news-land__title В Новосибирске прошел семинар ENTEL
        .news-land__date 24/10/2017
        .news-land__text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют, потому что
        a(href="#").products__link.news-land__link Подробнее
      .news-land__item
        img(src="./images/news-1.png").news-land__img
        .news-land__title В Новосибирске прошел семинар ENTEL
        .news-land__date 24/10/2017
        .news-land__text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют, потому что
        a(href="#").products__link.news-land__link Подробнее
    .news-land__footer
      a(href="#").button Все новости и мероприятия




