section.products
  .g-wrapper
    .section__title Продукция
    .products__content
      .products__item
        .products__imgwrap
          img.products__img(src="./images/product-1.png")
        .products__title Измерение, управление энергией и анализ
        .products__footer
          a.products__link(href="#") Подробнее
      .products__item
        .products__imgwrap
          img.products__img(src="./images/product-1.png")
        .products__title Предохранители
        .products__footer
          a.products__link(href="#") Подробнее
      .products__item
        .products__imgwrap
          img.products__img(src="./images/product-1.png")
        .products__title Измерение, управление энергией и анализ
        .products__footer
          a.products__link(href="#") Подробнее
      .products__item
        .products__imgwrap
          img.products__img(src="./images/product-1.png")
        .products__title Измерение, управление энергией и анализ
        .products__footer
          a.products__link(href="#") Подробнее
      .products__item
        .products__imgwrap
          img.products__img(src="./images/product-1.png")
        .products__title Измерение, управление энергией и анализ
        .products__footer
          a.products__link(href="#") Подробнее
      .products__item
        .products__imgwrap
          img.products__img(src="./images/product-1.png")
        .products__title Измерение, управление энергией и анализ
        .products__footer
          a.products__link(href="#") Подробнее
