.sidebar-product
  .sidebar-product__wrapper
    .sidebar-product__header Категории продукции
    .sidebar-product__items
      .sidebar-product__item
        .sidebar-product__title Измерение, управление энергией и анализ
        .sidebar-product__content
          .sidebar-product__text Multi-circгult metering & measurement
          .sidebar-product__text Wireless metering & measurement
          .sidebar-product__text Счетчики активной энергии и концентраторы импульсов
          .sidebar-product__text Многофункциональные счетчики
          .sidebar-product__text Коммуникационные принадлежности
          .sidebar-product__text Программные решения
          .sidebar-product__text Счетчики и преобразователи
          .sidebar-product__text Измерительные устройств
      .sidebar-product__item
        .sidebar-product__title Выключатели нагрузки
        .sidebar-product__content
          .sidebar-product__text Выключатели нагрузки
          .sidebar-product__text Выключатели нагрузки
      .sidebar-product__item
        .sidebar-product__title Реверсивные рубильники
        .sidebar-product__content
          .sidebar-product__text Реверсивные рубильники
          .sidebar-product__text Реверсивные рубильники
      .sidebar-product__item
        .sidebar-product__title Предохранители
        .sidebar-product__content
          .sidebar-product__text Предохранители
          .sidebar-product__text Предохранители
      .sidebar-product__item
        .sidebar-product__title Электронная защита
        .sidebar-product__content
          .sidebar-product__text Электронная защита
          .sidebar-product__text Электронная защита
      .sidebar-product__item
        .sidebar-product__title Шкафы и аксессуары
        .sidebar-product__content
          .sidebar-product__text Шкафы и аксессуары
          .sidebar-product__text Шкафы и аксессуары





