extends layouts/_main.pug

block content
  include ./blocks/header.pug
  .about-company
    .g-wrapper
      include ./blocks/breadcrumbs.pug
      .about-company__wrapper
        .about-company__sidebar
           .sidebar-product__header Разделы
           a(href="#info").sidebar-product__title.about-company__sidebar_title Общая информация
           a(href="#certif").sidebar-product__title.about-company__sidebar_title Наши сертификаты
           a(href="#").sidebar-product__title.about-company__sidebar_title Наши клиенты
           a(href="#").sidebar-product__title.about-company__sidebar_title Новости и мероприятия
           a(href="#contacts").sidebar-product__title.about-company__sidebar_title Контакты
        .about-company__content
          .about-company__block#info
            .about-company__title Общая информация о компании
            .about-company__text ООО «Эквипмент Трансфер Сервис» («ЭТС») с 2006 года является официальным дистрибьютором французского производителя SOCOMEC и осуществляет поставки силового коммутационного и контрольно-измерительного оборудования
            .about-company__subtitle Наши сильные стороны:
            .about-company__okay Прямые поставки
            .about-company__okay Грамотная логистика
            .about-company__okay Свой склад
            .about-company__okay Техническая поддержка сертифицированными инженерами, прошедшими обучение на заводах-изготовителях
            .about-company__okay Обширная региональная дилерская сеть, позволяющая осуществлять качественное обслуживание потребностей заказчиков в отдаленных регионах России
          .about-company__block
            .about-company__subtitle Нашу продукцию используют:
            .about-company__text <span>Предприятия космической отрасли:</span> Космодром "Восточный"
            .about-company__text <span>Предприятия атомной энергетики:</span> ОАО «Протвинский опытный завод «ПРОГРЕСС», Нововоронежская АЭС, Смоленская АЭС, Белоярская АЭС, Балаковская АЭС, Белорусская АЭС
            .about-company__text <span>Телекоммуникационные компании:</span> ПАО «МТС», ФГУП«Российская телевизионная и радиовещательная сеть» (РТРС) филиал "Архангельский областной радиотелевизионный передающий центр"
            .about-company__text <span>Транспорт:</span> Монорельсовая дорога на ВДНХ г. Москва, МКЖД, Порт «Восточный» г. Владивосток
            .about-company__text <span>Промышленность:</span> Цементный завод «Lafarge» г. Воскресенск, ЗАО «Чебоксарский электромеханический завод», ООО "Чебоксарская Электротехника и Автоматика", ЗАО «Чебоксарский электроаппаратный завод»,  Компания ООО «МАРС» «А. Коркунов», Завод по переработке молока «Дмитрова Гора» Тверская обл., АО ИНДЕЗИТ ИНТЕРНЭШНЛ" г.Липецк, АО "Машзавод ЭТС", Табачная фабрика «ПЕТРО» Санкт-Петербург
            .about-company__text <span>Энергетика:</span> ОАО «СО ЕЭС», ООО «Авелар Солар Технолоджи», компания по строительству солнечных электростанций, Серебрянская ГЭС на Кольском полуострове
            .about-company__text <span>Предприятия нефтегазовой отрасли:</span> ОАО «Транснефть»
            .about-company__text <span>А так же:</span> Дельфинарий на ВДНХ «Мир дельфинов» г. Москва, Инновационный центр «Сколково», ТЦ Каширская Плаза г. Москва, ЦОД Мосгаз, Бизнес-центр Румянцево г. Москва
            .about-company__block_footer
              .about-company__quad Мы ценим время наших клиентов и всегда готовы к открытому диалогу!


          .about-company__block#certif
            .about-company__title Наши сертификаты
            include ./blocks/certificates-slider-about.pug

          .about-company__block#clients
            .about-company__title Наши клиенты
            .about-company__slider_span
              .about-company__slider.about-company__slider_clients.swiper-container
                .swiper-wrapper
                  .swiper-slide(style="width: 100%")
                    img(src="./images/clients-1.png" style="width: 100%")
                  .swiper-slide(style="width: 100%")
                    img(src="./images/clients-2.png" style="width: 100%")
                  .swiper-slide(style="width: 100%")
                    img(src="./images/clients-3.png" style="width: 100%")
                  .swiper-slide(style="width: 100%")
                    img(src="./images/clients-1.png" style="width: 100%")
                  .swiper-slide(style="width: 100%")
                    img(src="./images/clients-2.png" style="width: 100%")
              .about-company__slider_buttons
                .about-company__slider_prev.swiper-button-prev(style="left: 10px")
                  svg(xmlns='http://www.w3.org/2000/svg')
                    g(transform='translate(1 1)', fill='none', fill-rule='evenodd')
                      circle(stroke='#1579C5', stroke-width='2', cx='18', cy='18', r='18')
                      path(d='M19.14 11.323a1.08 1.08 0 0 1 1.541 0c.425.43.425 1.13 0 1.56L15.63 18l5.052 5.117c.425.43.425 1.13 0 1.56a1.08 1.08 0 0 1-1.54 0L13.32 18.78a1.113 1.113 0 0 1 0-1.56l5.822-5.897z', fill='#1579C5')

                .about-company__slider_next.swiper-button-next(style="right: 10px")
                  svg(xmlns='http://www.w3.org/2000/svg')
                    g(transform='translate(1 1)', fill='none', fill-rule='evenodd')
                      circle(stroke='#1579C5', stroke-width='2', cx='18', cy='18', r='18')
                      path(d='M16.86 24.677a1.08 1.08 0 0 1-1.541 0 1.113 1.113 0 0 1 0-1.56L20.37 18l-5.052-5.117a1.113 1.113 0 0 1 0-1.56 1.08 1.08 0 0 1 1.54 0l5.822 5.897c.425.431.425 1.13 0 1.56l-5.822 5.897z', fill='#1579C5')

          .about-company__block#certif
            .about-company__title Новости и мероприятия
            include ./blocks/_news-slider.pug


          include ./blocks/contacts-land.pug


  include ./blocks/footer.pug
  include blocks/_news-slider.pug
