extends layouts/_main.pug

block content
  include ./blocks/header.pug
  section.categories
    include ./blocks/breadcrumbs.pug
    .g-wrapper
      .categories__wrapper
        include ./blocks/sidebar-product.pug
        .categories__inside
          .categories__title Измерение, управление энергией и анализ
          .categories__items
            include ./blocks/categories-item.pug
            include ./blocks/categories-item.pug
            include ./blocks/categories-item.pug
            include ./blocks/categories-item.pug
            include ./blocks/categories-item.pug
            include ./blocks/categories-item.pug
  include ./blocks/footer.pug

