extends layouts/_main.pug

block content
  include ./blocks/header.pug
  include ./blocks/header-slider.pug
  include ./blocks/products.pug
  include ./blocks/about.pug
  include ./blocks/clients-slider.pug
  include ./blocks/news-land.pug
  include ./blocks/contacts-land.pug
  include ./blocks/footer.pug
