extends layouts/_main.pug

block content
  include ./blocks/header.pug
  .news-page
    include ./blocks/breadcrumbs.pug
    .news-detail__wrapper
      .g-wrapper
        .news-detail__header.contacts-page__title.news-page__title
          .news-detail__title В Новосибирске прошел семинар ENTEL
          .news-detail__date Дата публикации:  24/10/2017
        .news-detail__content
          .news-detail__text В самый разгар зимы ENTEL разбил свой учебный лагерь в географическом центре страны - гостеприимном городе Новосибирск. На встречу с проектными, производственными и торговыми организациями Новосибирска специально из Франции прилетел представитель завода Socomec - Jean-Philippe Spinner. И, надо сказать, не с пустыми руками. Впервые в России был представлен образец нового моторизованного реверсивного рубильника компании Socomec - ATyS S ! Участники семинара оценили компактный дизайн, простоту и качество нового продукта. ATyS S сконструирован инженерами Socomec с целью замены контакторов в щитах АВР.
          .news-detail__text В самый разгар зимы ENTEL разбил свой учебный лагерь в географическом центре страны - гостеприимном городе Новосибирск. На встречу с проектными, производственными и торговыми организациями Новосибирска специально из Франции прилетел представитель завода Socomec - Jean-Philippe Spinner. И, надо сказать, не с пустыми руками. Впервые в России был представлен образец нового моторизованного реверсивного рубильника компании Socomec - ATyS S ! Участники семинара оценили компактный дизайн, простоту и качество нового продукта. ATyS S сконструирован инженерами Socomec с целью замены контакторов в щитах АВР.
        .news-detail__more
          .news-detail__more_title.contacts-page__title.news-page__title Другие новости
          .news-detail__more_block
            .news-land__item.news-detail__item.news-detail__item
              img(src="./images/news-1.png").news-land__img
              .news-land__title.news-detail__more_title В Новосибирске прошел семинар ENTEL
              .news-land__date 24/10/2017
              .news-land__text.news-detail__more_text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют, потому что
              a(href="#").products__link.news-land__link Подробнее
            .news-land__item.news-detail__item
              img(src="./images/news-1.png").news-land__img
              .news-land__title.news-detail__more_title Электрические Сети России 2017
              .news-land__date 24/10/2017
              .news-land__text.news-detail__more_text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют, потому что
              a(href="#").products__link.news-land__link Подробнее
            .news-land__item.news-detail__item
              img(src="./images/news-1.png").news-land__img
              .news-land__title.news-detail__more_title В Новосибирске прошел семинар ENTEL
              .news-land__date 24/10/2017
              .news-land__text.news-detail__more_text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют, потому что
              a(href="#").products__link.news-land__link Подробнее
            .news-land__item.news-detail__item
              img(src="./images/news-1.png").news-land__img
              .news-land__title.news-detail__more_title В Новосибирске прошел семинар ENTEL
              .news-land__date 24/10/2017
              .news-land__text.news-detail__more_text Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют, потому что
              a(href="#").products__link.news-land__link Подробнее
  include ./blocks/footer.pug
