*
  margin 0
  padding 0
  box-sizing border-box
  outline: none
  text-decoration none

html
  font-size: 10px

#wrapper
  width 100%
  overflow-x: hidden

.g-wrapper
  max-width: 120rem
  margin 0 auto
  padding-left 0.6rem
  padding-right 0.6rem

.section__title
  font-size 4rem
  font-family RobotoSlab
  font-weight: 700
  color black
  text-align: center
  position relative
  margin-bottom 9rem
  &:after
    content ''
    width 92px
    height 9px
    bottom -1.8rem
    left 50%
    transform translateX(-50%)
    position: absolute
    background: url('../images/decor.png') center center no-repeat
    background-size cover
  &_white
    color white

.button
  font-family: Roboto
  font-weight: 700
  font-size 1.6rem
  color white
  box-shadow 0 0.8rem 2rem RGBA(0,0,0,0.1)
  background-color #42AAFA
  padding 1.8rem 4rem
  border-radius 0.5rem
  transition 0.3s
  &:hover
    background-color #42aafa - 15%
