@import './_fonts.styl'
@import './_global.styl'

@import './blocks/_header.styl'
@import './blocks/_footer.styl'

@import './blocks/_products.styl'
@import './blocks/_about.styl'
@import './blocks/_news-land.styl'
@import './blocks/_contacts-land.styl'
@import './blocks/_clients-slider.styl'
