@import './_fonts.styl'
@import './_global.styl'

@import './blocks/_header.styl'
@import './blocks/_footer.styl'

@import './blocks/_breadcrumbs.styl'
@import './blocks/_products.styl'
@import './blocks/_about.styl'
@import './blocks/_news-land.styl'
@import './blocks/_contacts-land.styl'
@import './blocks/_clients-slider.styl'
@import './blocks/_header-slider.styl'
@import './blocks/_certificates-slider.styl'
@import './blocks/_sidebar.styl'
@import './blocks/_categories.styl'
@import './blocks/_about-company.styl'
@import './blocks/_certificates-slider-about.styl'
@import './blocks/_contacts.styl'
@import './blocks/_card-item.styl'
@import './blocks/_news.styl'
@import './blocks/_callback-modal.styl'
@import './blocks/_mob-menu.styl'
