.breadcrumbs
  padding 6.4rem 0 4rem
  font-family Roboto
  font-weight: 400
  font-size 1.4rem
  &__content
    display flex
    justify-content: flex-start
    align-items: flex-start
  &__main
    margin-right 3rem
    position: relative
    color black
    cursor pointer
    &:after
      content '\f105'
      right -18px
      top 0
      font-size 1.6rem
      font-family: FontAwesome
      position absolute
  &__more
    color #BBBBBB
    cursor pointer
