.categories
  background: #F8F8F8
  padding-bottom: 12rem
  &__wrapper
    display flex
    justify-content: space-between
    align-items: flex-start
  &__items
    flex-basis 70%
  &__title
    font-family RobotoSlab
    font-weight: 700
    font-size 3rem
    margin-bottom 3rem
  &__item
    max-width: 75rem
    padding 5.2rem 4rem 2.4rem
    background: white
    margin-bottom 4rem
    box-shadow 0 0.1rem 2.4rem RGBA(0,0,0,0.1)
  &__images
    display flex
    justify-content: space-between
    align-items: flex-end
    padding-bottom 2.6rem
    border-bottom 1px solid #DCDCDC
  &__img
    max-width: 20rem
    width 100%
  &__models
    border-bottom 1px solid #DCDCDC
  &__model
    font-family Roboto
    font-weight: 700
    font-size 1.6rem
    line-height 2.6rem
    color black
    margin 1.2rem 0
  &__elements
    display flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap wrap
  &__element
    flex-basis 48%
    font-family Roboto
    font-size 1.4rem
    line-height 1.8rem
    margin-bottom 1.4rem
  &__footer
    padding 2.5rem 0 0
    display: flex
    justify-content: space-between
    align-items: center
  &__button
    padding 1rem 3.2rem
  &__link
    color #1174BF
    font-size 1.4rem
    font-family Roboto
    font-weight: 700
    position: relative
    padding-left 2.4rem
    &:before
      content '\f080'
      top 0
      left 0
      color #1174BF
      font-family FontAwesome
      position: absolute

@media (max-width:1024px)
  .categories
    &__wrapper
      display block
    &__items
      display block
    &__item
      flex-basis: 100%
      margin: 0 auto
      margin-bottom 4rem
    &__title
      font-size 2.4rem
      line-height 3.8rem
    &__img
      max-width: 17rem
      width 100%
    &__model
      font-size 1.6rem
      line-height 2.6rem
    &__element
      font-size 1.2rem
      line-height 1.4rem
    &__link
      font-size 1.4rem
@media (max-width:700px)
  .categories
    &__item
      padding 3rem 2.4rem
    &__img
      max-width: 7rem
    &__elements
      display: block
    &__footer
      display: block
      text-align: center
    &__link
      display inline-block
      margin-bottom 2rem
      margin-right 2rem
    &__button
      display inline-block
    &__title
      font-size 1.8rem
      line-height 2.6rem
      padding-bottom 2rem
      border-bottom 1px solid #DCDCDC
    &__model
      font-size 1.2rem
      line-height 1.4rem
