.certif-mini
  width 80%
  height: 100%
  &__container
    width 100% !important
  &__slide
    display flex
    justify-content: center
    align-items: center
  &__img
    max-width: 19rem
    width 100%
    height: 27rem
    object-fit: contain
    cursor pointer

.g-wrapper__slider_certif-mini .swiper-button-prev, .g-wrapper__slider_certif-mini .swiper-button-next
  background: none
.g-wrapper__slider_certif-mini .swiper-button-prev, .g-wrapper__slider_certif-mini .swiper-button-next
  background: none
  width 36px
  height 36px
.g-wrapper__slider_certif-mini .swiper-button-prev svg, .g-wrapper__slider_certif-mini .swiper-button-next svg
    width 36px
    height 36px
