.clients-slider
  background: #F7F7F7
  padding 9rem 0
  position: relative
  &__container
    width 100%
    height: 100%
  &__slide
    text-align: center
    display flex
    justify-content: center
    align-items: center
  &__img
    height: 10rem
    object-fit: contain

.clients-slider .swiper-button-prev, .clients-slider .swiper-button-next
  background: none
.clients-slider .swiper-button-prev, .clients-slider .swiper-button-next
  background: none
  width 62px
  height 62px

@media (max-width:1330px)
  .clients-slider
    &__img
      height: 7rem
  .clients-slider .swiper-button-prev svg, .clients-slider .swiper-button-next svg
    width 38px
    height 38px
  .clients-slider .swiper-button-prev, .clients-slider .swiper-button-next
    width 38px
    height 38px
  .g-wrapper__slider_clients
    top -3.5rem
