.footer
  padding 9rem 0 5.4rem 0
  background url(../images/footer-bg.jpg) center center no-repeat
  background-size cover
  &__content
    font-family Roboto
  &__top
    display flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap wrap
    border-bottom 0.1rem solid #505B63
    padding-bottom 7rem
    margin-bottom 4rem
    &_column
      flex-basis 18%
      &:first-child
        margin-right 6rem
  &__logo
    margin-bottom 4rem
  &__text
    font-size 1.2rem
    color #858E95
    line-height 2rem
    margin-bottom 1.4rem
    display block
  &__title
    display block
    font-weight: 700
    font-size 1.6rem
    margin-bottom 2.4rem
    color white
    &_mob
      display none
  &__link
    color white
    font-size 1.4rem
    font-family: Roboto
    margin-bottom 2.4rem
    line-height: 1.8rem
    display block
    transition 0.3s
    cursor pointer
    &:hover
      color #42aafa
  &__bottom
    display flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap
    &_right
      display flex
      align-items: center
    &_string
      display flex
      justify-content: space-between
      align-items: center
      width 100%
      margin-bottom 3.4rem
    &_link
      font-family: Roboto
      font-size 1.2rem
      margin-right 4rem
      color white
      cursor pointer
      text-transform: uppercase
      transition 0.3s
      &:last-child
        margin-right 0
      &:hover
        color #42aafa
  &__socials
    &_mobile
      display none
    & svg
      margin-right 2rem
      transition 0.3s
      &:hover
        fill rgb(66, 170, 250)
      & path
        fill #858E95
        transition 0.3s
        &:hover
          fill rgb(66, 170, 250)

@media (max-width:1024px)
  .footer
    padding 6rem 0 4rem
    &__top
      &_column
        &:first-child
          margin-right 0rem
    &__text
      font-size 1rem
      &_bottom
        font-size 1.2rem
        line-height 1.8rem
        margin-bottom 1.8rem
    &__logo
      margin-bottom 3.2rem
    &__title
      font-size 1.4rem
      margin-bottom 2.6rem
    &__link
      font-size 1.2rem
      margin-bottom 2rem
    &__bottom
      &_link
        font-size 1.1rem
        margin-right 2rem
@media (max-width:665px)
  .footer
    padding 6rem 0 4rem
    &__text
      display none
      &_bottom
        display block
        font-size 1.2rem
        line-height 1.8rem
    &__title
      font-size 1.4rem
      &_mob
        display block
    &__link
      font-size 1.2rem
      margin-bottom 1.8rem
      line-height 1.6rem
    &__top
      &_column
        flex-basis 48%
        &_mob
          display: none
        &:first-child
          flex-basis: 100%
          display: flex
          justify-content: space-between
          align-items center
          margin-bottom 3rem
    &__bottom
      &_right
        display none
      &_link
        display block
        width 100%
        margin-right 0
        margin-bottom 1.8rem
        font-size 1rem
        &:last-child
          margin-bottom 0
    &__socials
      &_mobile
        display flex
    &__logo
      max-width: 8.7rem
      margin-bottom 0

