.header
  padding 3rem 0
  border-bottom 1px solid #E2E2E2
  &__container
    display flex
    justify-content: space-between
    align-items: center
  &__close
    display none
  &__nav
    position relative
    display flex
    justify-content: space-between
    align-items: center
    & ^[0]__contact
      display none
  &__close
    position absolute
    top 2rem
    right 2rem
    &:before
      content: '\f00d'
      font-family: 'FontAwesome'
      font-size: 8vw
  &__li
    font-family: Roboto
    font-weight: 400
    font-size 1.6rem
    list-style-type none
    margin-right 4rem
    position: relative
    &:hover ^[0]__triangle, &:hover .f-menu
      opacity 1
      pointer-events: all

    & > a
      color #BEBEBE
      transition 0.3s
      &:hover
        color black
    &_active
      & > a
        color black
      &:after
        content ''
        bottom -0.6rem
        left 0
        width 100%
        height 0.2rem
        background-color #1174BF
        position: absolute
    &:last-child
      margin-right 0
  &__tel
    display: block
    font-size 1.8rem
    font-family: Roboto
    font-weight: 400
    color black
    margin-bottom 2rem
    & span
      font-weight: 700
  &__callback
    display: inline-block
    font-family: Roboto
    font-weight: 500
    font-size 1.3rem
    color #1174BF
    border-bottom 1px dotted #1174BF
    position: relative
    cursor pointer
    float:right
    &:before
      content ''
      left -2.4rem
      top 0
      background url('../images/phone-call.png') center center no-repeat
      background-size contain
      width 16px
      height: 16px
      position absolute
  &__triangle
    position absolute
    top calc(100% + .5rem)
    left 50%
    transform translateX(-50%)
    transition: opacity .3s
    opacity 0

.f-menu
  position absolute
  top calc(100% + 2rem)
  left 50%
  transform translateX(-28%)
  justify-content space-between
  padding 4.5rem 10rem
  display flex
  width 95rem
  border 1px solid #1174BF
  z-index 10
  background-color #fff
  transition: opacity .3s
  opacity 0
  pointer-events: none
  &:after
    content: ''
    width 100%
    height 2.2rem
    position absolute
    left 0
    bottom 100%
  &__col
    padding-right 3rem
    &:last-child
      padding-right 0
  &__link
    display block
    font-size: 1.4rem
    color black
    margin-bottom 1.5rem
    transition color .2s
    &:hover
      color #1174BF
    &_bold
      font-weight: 600
      font-size: 1.6rem

.search
  position absolute
  top -2px
  right 0
  min-width: 18px
  background-color #fff
  z-index 9
  &__loop
    position absolute
    top 4px
    left 0
    cursor pointer
  &__close
    position absolute
    top 6px
    right 0
    width 13px
    height 13px
    opacity 0
    transition .5s
    pointer-events: none
    cursor pointer
  &__input
    width 0
    padding 6px 0
    font-size: 14px
    border: none
    border-bottom: 2px solid #3578C2
    transition: width .5s;
    will-change: width
    margin-bottom 14px
  &__link
    font-family: 'Roboto'
    font-size: 1.6rem
    padding 4px 8px
    display block
    color: black
    font-weight: 600
    & span
      color gray
      font-size: 1.4rem
      padding-left 12px
  &__results
    display none
  &.active ^[0]__input
    padding 6px 24px
  &.active ^[0]__results
    display block
  &.active ^[0]__close
    opacity 0.5
    pointer-events: all

@media (max-width: 1175px)
  .header
    &__li
      font-size 1.4rem
      margin-right 2.4rem
  .f-menu
    width 75rem
    padding 4.5rem 5rem
@media (max-width: 1024px)
  .header
    &__close
      display block
    &__nav
      flex-direction: column
      justify-content space-between
      align-items center
      background-color #fff
      position fixed
      top 0
      left 0
      right 0
      bottom 0
      z-index 100
      padding 10vh 0
      transition transform .3s;
      transform translateX(100%)
      will-change: transform
    &__li:last-of-type
      display none
    &__triangle, .f-menu
      display none
    &__li
      font-size 6rem
      margin-right 0
    &__tel
      font-size 1.4rem
    &__callback
      font-size 1.2rem
    &__logo
      max-width: 12rem

@media (max-width: 767px)
  .header
    &__container > .header__contact
      display none
    &__li
      font-size 3.5rem
  .header__nav .header__contact
      display block

@media (max-height: 415px)
  .header
    &__nav
      padding 6vh 0
    &__tel
      margin-bottom 1rem

@media (max-height: 321px)
  .header
    &__nav
      padding 4vh 0
    &__li
      font-size 3rem
  .header__nav .header__contact
      display block
