.header-slider
  width 100%
  margin 0 auto
  &__container
    height: 65rem
    width: 100% !important
  &__wrapper
    width: 100% !important
    height: 65rem
  &__img
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute
    left 0
    top 0
    z-index: -1
  &__slide
    position relative
  &__content
    padding 9rem 8rem
    width 50%
  &__title
    text-align: left
    margin-bottom 6rem
    &:after
      left 4.8rem
      bottom -3rem
  &__text
    font-size 2rem
    line-height 2.4rem
    color white
    font-family: Roboto
    margin-bottom 1rem
    &_bold
      font-weight: 700
  &__description
    margin-bottom: 8rem
  &__button
    margin-top 5rem
.header-slider .swiper-slide-active
  transition: .5s;
  transform: scale(1)

.header-slider .swiper-slide-prev,
.header-slider .swiper-slide-next
  transform: scale(0.9);
  transition: .5s;

.header-slider .swiper-button-prev, .header-slider .swiper-button-next
  background: none
  width 62px
  height 62px
  transform: translateY(-50%)
.header-slider .swiper-pagination-bullet
  width 18px
  height 18px
  border 0.2rem solid #1B7FCC
  background: transparent
.header-slider .swiper-pagination-bullet-active
  background: #1B7FCC


@media (max-width:1200px)
  .header-slider
    &__wrapper
      height: 45rem
    &__container
      height 45rem
    &__title
      font-size 3rem
    &__content
      width 80%
      padding 5.8rem 6rem
    &__text
      font-size 1.4rem
    &__description
      margin-bottom 5rem
  .header-slider .swiper-pagination-bullet
    width 14px
    height 14px
  .header-slider .swiper-button-prev, .header-slider .swiper-button-next
    width 38px
    height 38px
  .header-slider .swiper-button-prev svg, .header-slider .swiper-button-next svg
    width 38px
    height 38px
@media (max-width:660px)
  .header-slider
    &__wrapper
      height 45rem
    &__title
      font-size 2.4 rem
    &__content
      width 100%
      padding 5rem 2rem
    &__text
      font-size 1.4rem
    &__description
      margin-bottom 5rem
  .header-slider .swiper-button-prev svg, .header-slider .swiper-button-next svg
    width 30px
    height 30px
  .header-slider .swiper-button-prev, .header-slider .swiper-button-next
    width 30px
    height 30px
    top 100%
    transform: translateY(-50%);
    z-index 11
  .header-slider .swiper-button-next
    right 20%
  .header-slider .swiper-button-prev
    left 20%






