.header
  padding 3rem 0
  border-bottom 1px solid #E2E2E2
  &__container
    display flex
    justify-content: space-between
    align-items: center
  &__nav
    display flex
    justify-content: space-between
    align-items: center
  &__li
    font-family: Roboto
    font-weight: 400
    font-size 1.6rem
    list-style-type none
    margin-right 4rem
    position: relative
    &:hover ^[0]__triangle, &:hover .f-menu
      opacity 1
      pointer-events: all

    & > a
      color #BEBEBE
      transition 0.3s
      &:hover
        color black
    &_active
      & > a
        color black
      &:after
        content ''
        bottom -0.6rem
        left 0
        width 100%
        height 0.2rem
        background-color #1174BF
        position: absolute
    &:last-child
      margin-right 0
  &__tel
    display: block
    font-size 1.8rem
    font-family: Roboto
    font-weight: 400
    color black
    margin-bottom 2rem
    & span
      font-weight: 700
  &__callback
    display: inline-block
    font-family: Roboto
    font-weight: 500
    font-size 1.3rem
    color #1174BF
    border-bottom 1px dotted #1174BF
    position: relative
    cursor pointer
    float:right
    &:before
      content ''
      left -2.4rem
      top 0
      background url('../images/phone-call.png') center center no-repeat
      background-size contain
      width 16px
      height: 16px
      position absolute
  &__triangle
    position absolute
    top calc(100% + .5rem)
    left 50%
    transform translateX(-50%)
    transition: opacity .3s
    opacity 0

.f-menu
  position absolute
  top calc(100% + 2rem)
  left 50%
  transform translateX(-28%)
  justify-content space-between
  padding 4.5rem 10rem
  display flex
  width 95rem
  border 1px solid #1174BF
  z-index 10
  background-color #fff
  transition: opacity .3s
  opacity 0
  pointer-events: none
  :after
    content: ''
    width 100%
    height 2.2rem
    position absolute
    left 0
    bottom 100%
  &__col
    padding-right 3rem
    &:last-child
      padding-right 0
  &__link
    display block
    font-size: 1.4rem
    color black
    margin-bottom 1.5rem
    transition color .2s
    &:hover
      color #1174BF
    &_bold
      font-weight: 600
      font-size: 1.6rem

@media (max-width: 1175px)
  .header
    &__li
      font-size 1.4rem
      margin-right 2.4rem
@media (max-width: 1024px)
  .header
    &__nav
      display none
    &__tel
      font-size 1.4rem
    &__callback
      font-size 1.2rem
    &__logo
      max-width: 12rem
