.news-land
  padding 10rem 0
  background url('../images/news-bg.jpg') center center no-repeat
  background-size cover
  &__content
    padding 4rem 0
    border-top 0.1rem solid #4F5B63
    border-bottom 0.1rem solid #4F5B63
    display flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap wrap
    margin-bottom 6rem
  &__img
    max-width 26.4rem
    width 100%
    object-fit: cover
    margin-bottom 2rem
  &__item
    flex-basis 24%
  &__title
    font-family Roboto
    font-weight: 700
    font-size 2rem
    color white
    margin-bottom 1rem
  &__date
    font-family Roboto
    font-weight: 500
    font-size 1.2rem
    color #6C787F
    margin-bottom 1rem
  &__text
    font-family Roboto
    font-weight: 400
    font-size 1.4rem
    margin-bottom 3.4rem
    color white
  &__link
    color #41AAF9
    border-bottom 0.1rem dotted #41AAF9
  &__footer
    text-align center

