.news-s
  position relative
  padding 0 6.6rem
  margin 0 auto
  & .news-land__title,
  & .news-land__text
    color: black
  &__wrapper
    max-width: 26.3rem
    margin 0 auto
  &__next, &__prev
    position absolute
    top 50%
    transform translateY(-50%)
    left 0
    cursor pointer
    & svg
      width 3.6rem
      height 3.6rem
  &__next
    left: auto
    right 0
